# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/
kotlin-js-store/

# Maven
target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Local
local.properties
*.log
bin/
.classpath
.project
.settings/

# Disable JDTLS
.disable-jdtls
